body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 33, 41);  
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    color: rgb(255,255,255);
    width: 100vw;
    box-sizing: border-box;
    
}

#form-container {
     
    margin: auto;
    width: 250px;
    border: 3px solid rgb(67, 163, 230);
    padding: 30px; 
    
}

label {
    text-align: left;
    display: block;
    padding: 10px 10px 3px 0;
}

button {
    display: block;
    background: rgb(67, 163, 230);
    border-radius: 10px;
    padding: 6px;
    color: rgb(243, 233, 233);
    border: none;
}
textarea {
    display: block;
   
}